*{
    margin: 0;
    padding: 0;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto auto;
    width: 100%;
    height: 100vh;
}
.nav{
    background-color: midnightblue;
    width: 100%;
    height: 15%;
    margin-top: -15px;
    padding: 2em;
}
.nav > a > h1{
    width: 20%;
    margin: 1em;
    font-size: x-large;
    color: wheat;
    text-align: left;
}
footer{
    background-color: midnightblue;
    width: 100%;
    height: 15%;
    margin-bottom: -15px;
    padding: 3em 0;
    text-align: center;
}
footer > small{
    color: wheat;
    text-align: center;
}
form{
    background-color: white;
    border: 3px solid whitesmoke;
    border-radius: 20px;
    margin: 2em 0;
    width: 100%;
    padding: 0 1em;
}
table{
    border: 1px solid darkblue;
}
th{
    background-color: black;
    color: white;
    font-size: x-large;
    font-weight: bold;
    padding: 1em 1em 0;
    margin: 0 1em;
}
td{
    font-size: large;
    font-weight: normal;
    padding: 1em 1em 0;
    margin: 0 1em;
    border: 1px solid darkblue;
}
.input-field{
    width: 100%;
    padding: 2em 0 0;
    margin-bottom: 1em;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    font-size: 16px;
    color: lightslategrey;
    border-bottom: 1px solid grey;
}
h1{
    text-align: center;
    font-weight: bold;
    font-size: xxx-large;
}
h2{
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}
p{
    text-align: center;
    font-size: large;
}
a, small{
    text-decoration: none;
    color: lightsteelblue;
    text-align: center;
}
.blue-btn{
    margin: 1em 0;
    padding: 0.5em;
    color: white;
    background-color: navy;
    border: none;
    border-radius: 10px;
    width: 15%;
    font-size: large;
    font-weight: bold;
}
.blue-btn:hover, .btn-green:hover{
    background-color: dodgerblue;
    color: floralwhite;
}
.green-btn{
    margin: 1em 0;
    padding: 0.5em;
    width: 20%;
    color: white;
    background-color: forestgreen;
    border: none;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
}
.green-btn:hover{
    background-color: darkgreen;
    color: wheat;
}
.btn-green{
    /*margin: 0.5em 0;*/
    padding: 0.5em;
    width: 50px;
    color: white;
    background-color: navy;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
}
.red-btn{
    /*margin: 1em 0;*/
    padding: 0.5em;
    width: 60px;
    color: midnightblue;
    background-color: orangered;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;

}
.red-btn:hover{
    background-color: darkred;
    color: wheat;
}