*{
    margin: 0;
    padding: 0;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto auto;
    width: 100%;
    height: 100vh;
}

form{
    background-color: white;
    border: 3px solid whitesmoke;
    border-radius: 20px;
    margin: 2em 0;
    width: 100%;
    padding: 0 1em;
}
th{
    background-color: black;
    color: white;
    font-size: x-large;
    font-weight: bold;
    padding: 1em 1em 0;
    margin: 0 1em;
}
td{
    font-size: large;
    font-weight: normal;
    padding: 1em 1em 0;
    margin: 0 1em;
}
.input-field{
    width: 100%;
    padding: 2em 0 0;
    margin-bottom: 1em;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    color: lightslategrey;
    border-bottom: 1px solid grey;
}
h1{
    text-align: center;
    font-weight: bold;
    font-size: xxx-large;
}
h2{
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}
p{
    text-align: center;
    font-size: large;
}
.blue-btn{
    margin: 1em 0;
    padding: 0.5em;
    color: white;
    background-color: navy;
    border: none;
    border-radius: 10px;
    width: 15%;
    font-size: large;
    font-weight: bold;
}
.blue-btn:hover{
    background-color: dodgerblue;
    color: black;
}
.green-btn{
    margin: 1em 0;
    padding: 0.5em;
    width: 20%;
    color: white;
    background-color: forestgreen;
    border: none;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
}
.green-btn:hover{
    background-color: darkgreen;
    color: wheat;
}